.title {
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 18pt;
    transition: 1s;
    text-wrap: nowrap;
}

/* Should replace this with something simple. Its how usainet players works, and that looks decent */
.members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24em, 1fr));
    gap: 1em;
    z-index: 1;
    padding: auto;
}

.member {
    z-index: 1;
    margin-top: 5px;
    padding: 0px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2) inset,
    0 8px 20px 0 #00000083;
    animation-name: goup;
    animation-duration: 1s;
    animation-delay: calc(var(--animation-order) * 75ms);
    animation-fill-mode: backwards;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.member:hover {
    filter: brightness(1.1);
}

.memberinfo {
    display: flex;
    flex-direction: column;
}

.memberinfo p {
    z-index: 1;
    margin-block: 0;
    padding-left: 20px;
}

.memberinfo .img {
    image-rendering: pixelated;
    border-radius: 5px;
}

.memberinfo * {
    transition: 200ms;
}

.name {
    font-weight: 800;
    font-size: 25pt;
    margin-bottom: -10px;
}

@media screen and (max-width: 500px) {   
    .name {
        font-size: 16pt;
    }
    .memberinfo p:not(.name) {
        font-size: 11pt;
    }
    .memberinfo img {
        height: 25px;
        width: 25px;
    }
}

.icon {
    opacity: 50%;
    width: 120px;
    position: absolute;
    margin: 0;
    transform: translateX(140%) translateY(-50%) translateZ(0);
    z-index: 0;
}
