@keyframes go-up {
    0% {transform:translateY(10px); opacity:0;}
    100% {transform:translateY(0); opacity:1;}
}

html, body {
    background-color: #171717;
    font-family: Figtree;
}

.title {
    margin-right: auto;
    text-align: center;
    color: #929292;
    font-weight: 700;
    font-size: 18pt;
    transition: 1s;
    text-wrap: nowrap;
}

.active {
    color: #ffffff;
}

nav {
    background-image: linear-gradient(#171717f5, #171717ab 80%, #17171700);
    height: 35px;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -15px;
    position: fixed;
    top: 0;
    width: calc(100vw - 60px);
    z-index: 2;
}

.header-link {
    padding-right: 1em;
}

h1, a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding-top: 55px;
    margin: -8px;
    display: flex;
    flex-direction: column;
}

.content {
    color: white;
    padding: 15px;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

button, select {
    color: white;
    background-color: #ffffff20;
    border: 1px solid #ffffff20;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 2px;
    font-family: Figtree;
    backdrop-filter: blur(10px);
}

option {
    background-color: #171717;
    color: white;
}

button:hover, select:hover {
    background-color: #ffffff30;
}

#sort-options {
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
}

#sort-options label {
    font-weight: 800;
}

footer {
    padding: 0.6em;

}

.github-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.fab.fa-github {
    color: #ffffff;
    font-size: 2em;

}

@media screen and (max-width: 750px) {   
    .header {
        flex-direction: column;
        height: 70px;
    }
    .title {
        margin-right: 0;
    }
    #sort-options {
        margin-left: -10px;
        margin-top: -10px;
        margin-right: auto;
    }
    button, select {
        margin-left: 0;
        padding: 5px 7px;
    }
    .container {
        padding-top: 90px;
    }
}

