@keyframes go-up {
    0% {transform:translateY(10px); opacity:0;}
    100% {transform:translateY(0); opacity:1;}
}

html, body {
    background-color: #171717;
    font-family: Figtree;
}

.header {
    background-image: linear-gradient(#171717f5, #171717ab 80%, #17171700);
    height: 35px;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -15px;
    position: fixed;
    top: 0;
    width: calc(100vw - 60px);
    z-index: 2;
}

.header img:hover {
    filter: drop-shadow(0px 0px 10px #E1B351);
}

.container {
    padding-top: 55px;
    margin: -8px;
    display: flex;
    flex-direction: column;
}

.content {
    color: white;
    padding: 15px;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

button, select {
    background-color: #ffffff20;
    border: 1px solid #ffffff20;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 2px;
    color: white;
    font-family: Figtree;
    backdrop-filter: blur(10px);
}

button:hover, select:hover {
    background-color: #ffffff30;
    cursor: pointer;
}

#sort-display {
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
}

#sort-display label {
    font-weight: 800;
}

@media screen and (max-width: 650px) {   
    #sort-display label {
        display: none;
    }
}

.title {
    margin-right: auto;
    text-align: center;
    color: #929292;
    font-weight: 700;
    font-size: 18pt;
    transition: 1s;
    text-wrap: nowrap;
}

h1, a {
    padding-right: 1em;
    color: inherit;
    text-decoration: none;
}

.active {
    color: #ffffff;
}