.war {
    z-index: 1;
    padding: 0px 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2) inset,
    0 8px 20px 0 #00000083;
    animation-name: go-up;
    animation-duration: 1s;
    animation-delay: calc(var(--animation-order) * 75ms);
    animation-fill-mode: backwards;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.content {
    color: white;
    padding: 15px;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.war-name {
    padding: 25px 15px;
    text-align: center;
}

.team1 {
    width: 50%;
    text-align: left;
    /* hey debuggy make this go to the left */
}

.team2 {
    width: 50%;
    text-align: right;
    /* hey debuggy make this go to the right */
}

.nation {
    font-weight: 800;
    font-size: 18pt;
}

.town {
    font-size: 11pt;
}